<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        *{
            text-decoration: none;
            list-style: none;
        }
        #board{
            width:100%;
        }
        #board > tbody td,#board > thead th{
            padding:7px 14px;
            border-bottom: 1px solid #eee;
        }
        #board > thead th{
            background:#eee;
            border-bottom:2px solid #333;
        }
        #board .subject{
            width:45%;
        }
        #paging{
            width:30%;
            display: flex;
            margin:0 auto;
            margin-top:50px;
            
        }
        #paging > li >a{
            cursor: pointer;
            
            padding:20px;
        }
    </style>
    <script type="text/javascript">
        let test = {}
        document.addEventListener('DOMContentLoaded',async ()=>{
            const response = await axios.post('http://localhost:4001/api/board/list',{
                withCredentials:true,
            })
            
            const trElement = document.querySelector('#board_row').innerHTML
            test = {
                ...response
            }
            // const Nodes = response.data.result

            //페이징
            const { total_record } = response.data //board 게시물 갯수
            const view_article = 10 //한 화면에 보일 갯수
            const block_article = 10 //한 블럭당 보일 페이지개수
            const total_page = Math.ceil(total_record/view_article)
            const total_block = Math.ceil(total_page/block_article)
            
            // let page = location.search.split('=')[1]
            let page = 1;
            const current_block = Math.ceil(page/block_article)
            const block = ((current_block-1) * block_article)

            let end_block = block+block_article
            if(end_block > total_page){end_block = total_page}

            for(let i=block+1; i<=end_block; i++){
                const liElement = document.createElement('li')
                const aElement = document.createElement('a')
                // aElement.setAttribute('href',`/board/list?page=${i}`)
                aElement.setAttribute('onClick',`pagemove(${i})`)
                aElement.innerHTML = `[${i}]`

                liElement.appendChild(aElement)
                paging.appendChild(liElement)
            }
            
            const Nodes = response.data.result.slice((page-1)*view_article,page*view_article)

            let template = ''
            Nodes.forEach(v=>{
                template += trElement.replace('{idx}',v.idx)
                                .replace('{subject}',v.subject)
                                .replace('{nickname}',v.nickname)
                                .replace('{date}',v.date)
                                .replace('{hit}',v.hit)
            })
            
            const tbody = document.querySelector('#board tbody')
            tbody.innerHTML = template;
        })
        function pagemove(num){
            const trElement = document.querySelector('#board_row').innerHTML
            const view_article = 10;
            const Nodes =  test.data.result.slice((num - 1) * view_article,num * view_article);
        
            let template = ''
            Nodes.forEach(v=>{
                template += trElement.replace('{idx}',v.idx)
                                .replace('{subject}',v.subject)
                                .replace('{nickname}',v.nickname)
                                .replace('{date}',v.date)
                                .replace('{hit}',v.hit)
            })
            const tbody = document.querySelector('#board tbody')
            tbody.innerHTML = template;
        }
    </script>
</head>
<body>
    <table cellspacing="0" cellpadding="0" id="board">
        <thead>
        <tr>
            <th>번호</th>
            <th class="subject">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>

        <tbody>

        </tbody>
        <!-- <tr>
            <td>1</td>
            <td>테스트</td>
            <td>본인</td>
            <td>2022-03-14</td>
            <td>1</td>
        </tr> -->
        
    </table>
    <div id="paging">
        <ul>
            
        </ul>
    </div>

    <template id="board_row">
        <tr>
            <td>{idx}</td>
            <td>{subject}</td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
        </tr>
    </template>
</body>
</html>