<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        // 내장 객체. WebSocket
        // webSocket.onmessage = (event) => {
        //     const message = JSON.parse(event.data) 
        //     const {event:evt, msg} = message
        //     // {"event":"init","msg":"야 클라이언트 이거 받아봐~"}
        //     // -> Object 로 변환해서 message 받져

        //     if ( evt === 'init') {
        //         console.log( msg )
        //     } else if ( evt === 'ingoo') {
        //         // document.write(msg)
        //         // document.body.innerHTML = msg
        //     } else if ( evt === 'return') {
        //         webSocket.send('호호호호~')
        //     }
        // }

        document.addEventListener('DOMContentLoaded',()=>{
            const webSocket = new WebSocket('ws://localhost:3001/talk')
            
            webSocket.onopen = () => {
                console.log('웹소켓 Connection 성공 ( Handshake )')
            }

            webSocket.onclose = () => {
                console.log('웹소켓 disconnection')
            }

            const form = document.querySelector('form')
            form.addEventListener('submit', (e)=>{
                e.preventDefault()
                const{ input } = e.target
                let data = {
                    type:'send_meg',
                    data:{
                        userid:``,
                        msg:input.value
                    }
                }

                
                webSocket.send(JSON.stringify(data))
                input.value = ''
                input.focus()
            })

            webSocket.onmessage = (event) => {

                const chat = document.querySelector('#chat')
                const liElement = document.createElement('li')
                liElement.innerHTML = event.data
                chat.appendChild(liElement)
                console.log(event.data)
            }
        })
    </script>
</head>
<body>
    <form action="/talk" method="get">
        <input type="text" name="input" id="input">
        <input type="submit" value="전송">
    </form>
    <ul id="chat">

    </ul>
</body>
</html>